.profile {
	.none {
		text-align: center;
		margin-top: 40px;
		margin-bottom: 40px;
		padding: 40px;
		border: 1px dashed #bdc3c7;
		border-radius: 4px;

		.lead {
			margin-bottom: 20px;
			font-size: 20px;
			font-weight: 300;
			line-height: 1.4;
		}
	}
}

ul.profile-label {
	list-style: none;
	font-size: 22px;
	font-weight: 400;

	li {
		padding: 15px 0 5px 0;
		border-bottom: 1px dashed #bdc3c7;
	}
}
