<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="static-page">
      <h2>About Us</h2>

      <div class="static-page-details">
        <p>
          Eduly aims to provide information regarding employment opportunities to more than 10 million unemployed and under employed youth of India. We strive to publish the latest information related to sarkari job vacancies, sarkari job training programmes, recruitment notifications, admit cards and results of sarkari naukri oriented recruitment exams.
        </p>

        <p>
          Eduly is your one stop portal for landing a sarkari naukri in Railways, Nationalised Banks, Defence, Insurance, SSC, Engineering, PSUs, Government Ministries, RRBs, UPSC and various departments at Central as well as state government level. In addition to this, Eduly also provides content resources on career guidance that helps job seekers land a job in the above mentioned prestigious institutions. We want to serve as a guide to the youth, by helping them gain an understanding of the current job market and the plethora of employment opportunities that otherwise go unnoticed.
        </p>

        <p>
          <span style="font-weight: 600">Reach at us</span> <br>
          <a href="http://twitter.com/edulyindia" target="_blank"><i class="fa fa-twitter"></i></a>
          <a href="http://facebook.com/edulyindia" target="_blank"><i class="fa fa-facebook"></i></a>
        </p>
      </div>
    </div>
  </div>
</div>
