<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="static-page">
      <h2>Contact Us</h2>
      
      <div class="static-page-details">
        <p>
          <span>Contact Us</span> <br>
          Email us : edulyindia@gmail.com <br>
          Call us / Whatsapp us : +91-9754545952
        </p>

        <p>
          <span>Visit Us</span> <br>
          Eduly.In <br>
          Marathon Maxima, Lal Bahadur Shastri Road, <br>
          Moti Nagar, Mulund West, <br>
          Mumbai, Maharashtra 400080
        </p>

        <p>
          <span style="font-weight: 600">Reach at us</span> <br>
          <a href="http://twitter.com/edulyindia" target="_blank"><i class="fa fa-twitter"></i></a>
          <a href="http://facebook.com/edulyindia" target="_blank"><i class="fa fa-facebook"></i></a>
        </p>
      </div>
    </div>
  </div>
</div>
