<div class="col-lg-2 col-md-4 col-sm-12">
	<ul class="profile-label">
		<li><%= link_to "Playlists", playlists_path %></li>
		<li><%= link_to "Videos", videos_path %></li>
	</ul>
</div>

<div class="col-lg-10 col-md-10 col-sm-12">
	<div class="row">
		<div class="col-lg-4 col-md-6 col-sm-12">
			<div class="post panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12">
							<div class="playlist-label">
								<a class="label label-warning" href="/channels/docker-for-developers">
								Docker for Developers
								</a>
							</div>

							<a class="clearfix" href="/posts/docker-load-balancing-between-multiple-services">
								<img class="post-icon img-responsive" src="https://i.vimeocdn.com/video/581857283_1280x720.jpg?r=pad" alt="581857283 1280x720">
							</a>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="post-heading">
								<h2><a href="/posts/docker-load-balancing-between-multiple-services">Docker: Load Balancing between</a></h2>
							</div>

							<ul class="post-tags-list clearfix">
								<li><a href="/posts/search/keyword/rancher">rancher</a></li>
								<li><a href="/posts/search/keyword/load%20balancer">load bala...</a></li>
								<li><a href="/posts/search/keyword/services">services</a></li>
							</ul>

							<div class="post-meta">
								<div class="row">
									<div class="col-md-6 col-sm-6 col-xs-6">
										<span class="label label-default">
										published: 2 days ago
										</span>
									</div>

									<div class="col-md-6 col-sm-6 col-xs-6">
										<div class="pull-right">
											<span class="label label-default">
											duration: --:--
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
