<h3><%= @empl_state.state_name %></h3>

<%= link_to 'Edit', edit_empl_state_path(@empl_state), class: "btn btn-md btn-danger", style: "color: white", role: "button" %> |
<%= link_to 'Delete', empl_state_path(@empl_state), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-md btn-danger", style: "color: white", role: "button" %> |
<%= link_to "Back", empl_states_path, class: "btn btn-md btn-danger", style: "color: white", role: "button" %>
