<div class="row">
    <div class="col-md-8 col-sm-12 col-xs-12">
        <%= render "jobs" %>
    </div>

    <div class="col-md-6 col-sm-12 col-xs-12">

    </div>
</div>

<%= will_paginate @jobs, inner_window: 1, outer_window: 0, renderer: BootstrapPagination::Rails %>
