<div class="container">
  <h3>Your Next Career Move Starts Here</h3> <br>

  <div class="row">
    <div class="col-md-4 col-sm-4">
      <div class="eduly-keyword-box">
        <i class="fa fa-search"></i> &nbsp;
        Search Latest Government Jobs
      </div>
    </div>

    <div class="col-md-4 col-sm-4">
      <div class="eduly-keyword-box">
        <i class="fa fa-inr"></i> &nbsp;
        See Real Time Employee Salaries
      </div>
    </div>

    <div class="col-md-4 col-sm-4">
      <div class="eduly-keyword-box">
        <i class="fa fa-map-marker"></i> &nbsp;
        Find Ideal Company & Location
      </div>
    </div>
  </div>
</div>
