<div class="showcase">
    <%= render "search_section" %>
</div>

<div class="eduly-info-section">
    <%= render "eduly_info_section" %>
</div>

<div class="job-keyword-section">
    <%= render "job_keyword_section" %>
</div>

<div class="recent-section">
    <%= render "recent_section" %>
</div>
