<div class="profile">
	<div class="none">
		<p class="lead">
			We are currently working on your profile.
		</p>

		<p class="lead">
			It will serve as your report card, and guide you on your journey to improve your skills
		</p>

		<p class="lead">
			Stay Tuned!
		</p>
	</div>
</div>
