<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-12">
				<h4><span class="glyphicon glyphicon-link"></span> Links</h4>

				<ul class="links">
					<li>
						<a href="#">Videos</a>
					</li>
					<li>
						<a href="#">Channels</a>
					</li>
					<li>
						<a href="#">Member Benefits</a>
					</li>
					<li>
						<a href="#">Terms and Conditions</a>
					</li>
				</ul>
			</div>

			<div class="col-md-4 col-sm-12">
				<h4><span class="glyphicon glyphicon-film"></span> Playlists</h4>

				<ul class="links">
					<li>
						<a href="#"></a>
					</li>
					<li>
						<a href="#"></a>
					</li>
					<li>
						<a href="#"></a>
					</li>
					<li>
						<a href="#"></a>
					</li>
				</ul>
			</div>

			<div class="col-md-4 col-sm-12">
				<h4><span class="glyphicon glyphicon-comment"></span> Social Media</h4>

				<ul class="links">
					<li>
						<a target="_blank" href="https://www.youtube.com/channel/UCMEbVB2SBxYuuPUfAnYlGtQ">
						<i class="fa fa-youtube"></i> Youtube
						</a>
					</li>
					<li>
						<a target="_blank" href="https://www.facebook.com/edulyindia/">
						<i class="fa fa-facebook-official"></i> Facebook
						</a>
					</li>
					<li>
						<a target="_blank" href="https://twitter.com/edulyindia">
						<i class="fa fa-twitter"></i> Twitter
						</a>
					</li>
					<li>
						<a target="_blank" href="https://instagram.com/edulyindia">
						<i class="fa fa-instagram"></i> Instagram
						</a>
					</li>
				</ul>
			</div>
		</div>

		<hr>

		<div class="row legal">
			<div class="col-md-12">
				<p>No part of this website or any of its contents may be reproduced, copied, modified or adapted, without the prior written consent of the author, unless otherwise indicated for stand-alone materials.</p>
				<p>© Eduly.in 2016. All Rights Reserved. Eduly.in is a Product of BigData Infomatics  llp.</p>
			</div>
		</div>
	</div>
</footer>
