<div class="container">
  <%= link_to "ED<span style='color: black'>ULY</span>".html_safe, root_path, class: 'navbar-brand' %>

  <div class="social-media">
    <a href="http://twitter.com/edulyindia" target="_blank"><i class="fa fa-twitter"></i></a>
    <a href="http://facebook.com/edulyindia" target="_blank"><i class="fa fa-facebook"></i></a>
  </div>
</div>

<%= render 'layouts/shared/navbar' %>
