.static-page {
  float: left;
  width: 100%;

  h2 {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
  }

  .static-page-details {
    float: left;
    width: 100%;
    font-size: 14px;

    p {
      text-align: justify;

      a {
        float: left;
        width: auto;
        font-size: 30px;
        margin-right: 15px;
      }

      span {
        font-weight: 600;
      }
    }
  }
}
